html {
  scroll-behavior: smooth;
  position: sticky;
}

.container-fluid{

    background-color: #DD4A48;
    padding: 2% 15%;
}

.container1{
    background-color: #E9DAC1;
}


.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;

}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 20px;

}

p{
    font-weight: 500;
}

.title{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 2rem;
    font-size: 50px;
    color: yellow;
}

.navbar{
    padding-bottom: 4rem;
}

.download-button{
    margin-left: 10px;
}

.image{
    transform: rotate();
    padding-bottom: 3rem;
}

.row1{
    padding-bottom: 4rem;
}

.container2{
    background-color: #E9DAC1;
    padding : 12% 15%;
}


h4{
    color: #DD4A48;

}

.fas:hover{
    color: #DD4A48;
}
.col-sm-12{
    padding-bottom: 2rem;
}

.container3{
    padding-bottom: 10rem;
}

.moreimages{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    color: aliceblue;
    text-align: center;
    padding: 2rem 0rem;

}

.col-lg-4{
    padding-top: 2rem;
}
